<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <h2 style="color: rgb(47, 47, 78);">CP08</h2>
    </ul>
  </div>
  <div class="card-body">
    
    

    <button onclick="parent.location='/dashboard/courselist/viewtrainees?course=cp08&year=1'" class="dash" style="background-color: #8BC6EC;background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);">
    <div class="card__body">
      <div class="card__title">   First year</div>
      <div class="card__desc">All the trainees info </div>
    </div>
    </button>

    <button onclick="parent.location='/dashboard/courselist/viewtrainees?course=cp08&year=2'" class="dash" style="background-color: #8BC6EC;background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);">
    <div class="card__body">
      <div class="card__title">   Second year</div>
      <div class="card__desc">All the trainees info </div>
    </div>
    </button>

    <button onclick="parent.location='/dashboard/courselist/viewtrainees?course=cp08&year=3'" class="dash" style="background-color: #8BC6EC;background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);">
    <div class="card__body">
      <div class="card__title">   Third year</div>
      <div class="card__desc">All the trainees info </div>
    </div>
    </button>



  </div>
</div>

<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <h2 style="color: rgb(47, 47, 78);">CP09</h2>
    </ul>
  </div>
  <div class="card-body">
    
    

    <button onclick="parent.location='/dashboard/courselist/viewtrainees?course=cp09&year=1'" class="dash" style="background-color: #8BC6EC;background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);">
    <div class="card__body">
      <div class="card__title">   First year</div>
      <div class="card__desc">All the trainees info </div>
    </div>
    </button>

    <button onclick="parent.location='/dashboard/courselist/viewtrainees?course=cp09&year=2'" class="dash" style="background-color: #8BC6EC;background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);">
    <div class="card__body">
      <div class="card__title">   Second year</div>
      <div class="card__desc">All the trainees info </div>
    </div>
    </button>

    <button onclick="parent.location='/dashboard/courselist/viewtrainees?course=cp09&year=3'" class="dash" style="background-color: #8BC6EC;background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);">
    <div class="card__body">
      <div class="card__title">   Third year</div>
      <div class="card__desc">All the trainees info </div>
    </div>
    </button>



  </div>
</div>

<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <h2 style="color: rgb(47, 47, 78);">CP15</h2>
    </ul>
  </div>
  <div class="card-body">
    
    

    <button onclick="parent.location='#'" class="dash" style="background-color: #8BC6EC;
background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
">
    <div class="card__body">
      <div class="card__title">   First year</div>
      <div class="card__desc">All the trainees info </div>
    </div>
    </button>

    <button onclick="parent.location='#'" class="dash" style="background-color: #8BC6EC;
background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
">
    <div class="card__body">
      <div class="card__title">   Second year</div>
      <div class="card__desc">All the trainees info </div>
    </div>
    </button>

    <button onclick="parent.location='#'" class="dash" style="background-color: #8BC6EC;
background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
">
    <div class="card__body">
      <div class="card__title">   Third year</div>
      <div class="card__desc">All the trainees info </div>
    </div>
    </button>



  </div>
</div>