<div class="notification-page" >
<h2>No notifications</h2>

<input type="image" class="image" src="https://cdn-icons.flaticon.com/png/512/657/premium/657116.png?token=exp=1651466186~hmac=18307459c8123681ce904ec0e4430aa5" alt="not working">


</div>