<div class="report-card">
  <div class="card-body">
    Login Reports
    
  </div>
  
</div>
<div class="report-card">
  <div class="card-body">
    Trainee reports
  </div>
</div>
<div class="report-card">
  <div class="card-body">
    Attendance Reports
  </div>
</div>
<div class="report-card">
  <div class="card-body">
    Fees Reports
  </div>
</div>

<div class="report-card">
  <div class="card-body">
   other
  </div>
</div>