<div class="dashboard-header">
    <nav class="navbar navbar-expand-lg bg-white fixed-top"> <a class="navbar-brand" style="color: #1a2238;" href="/dashboard">Student360</a> 
    <button class="navbar-toggler"  type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars" aria-hidden="true"></i></button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto navbar-right-top">
                <li class="nav-item">
                     

                <div id="custom-search" class="top-search-bar"> <input class="form-control" placeholder="Search..">
                           
                    </div>
                 <!--  <button id="search-button" type="button" class="btn btn-primary">
                    <i class="fas fa-search"></i>
                    </button> -->
                </li> 



                <li>
                <li class="nav-item dropdown notification"> <a class="nav-link nav-icons" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-fw fa-bell"></i> <span class="indicator"></span></a>
                    <ul class="dropdown-menu dropdown-menu-right notification-dropdown">
                        <li>
                            <div class="notification-title"> Notification</div>
                            <div class="notification-list">
                                <div class="list-group"> <a href="#" class="list-group-item list-group-item-action active">
                                        <div class="notification-info">
                                            <div class="notification-list-user-img"><img src="https://img.icons8.com/office/100/000000/administrator-female.png" alt="" class="user-avatar-md rounded-circle"></div>
                                            <div class="notification-list-user-block"><span class="notification-list-user-name">{{user.first_name}}</span>-----------------------------<div class="notification-date">2 min ago</div>
                                            </div>
                                        </div>
                                    </a> <a href="#" class="list-group-item list-group-item-action">
                                        <div class="notification-info">
                                            <div class="notification-list-user-img"><img src="https://img.icons8.com/color/48/000000/administrator-female.png" alt="" class="user-avatar-md rounded-circle"></div>
                                            <div class="notification-list-user-block"><span class="notification-list-user-name">{{user.first_name}}</span>---------------------------- <div class="notification-date">2 days ago</div>
                                            </div>
                                        </div>
                                   <!-- </a> <a href="#" class="list-group-item list-group-item-action">
                                        <div class="notification-info">
                                            <div class="notification-list-user-img"><img src="https://img.icons8.com/color/100/000000/name.png" alt="" class="user-avatar-md rounded-circle"></div>
                                            <div class="notification-list-user-block"><span class="notification-list-user-name">{{user.first_name}}</span>------ <div class="notification-date">2 min ago</div>
                                            </div>
                                        </div>-->
                                    </a> </div>
                            </div>
                        </li>
                        <li>
                            <div class="list-footer"> <a href="/notification">View all notifications</a></div>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown connection"> <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fas fa-fw fa-th"></i> </a>
                    <ul class="dropdown-menu dropdown-menu-right connection-dropdown">
                        <li class="connection-list">
                            <div class="row">
                                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 "> <a href="https://erp.nttftrg.com/" class="connection-item"><img src="https://img.icons8.com/external-kiranshastry-gradient-kiranshastry/344/external-fork-gastronomy-kiranshastry-gradient-kiranshastry-1.png" alt=""> <span>Tuningfork</span></a> </div>
                                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 "> <a href="https://digitalnttf.com/login" class="connection-item"><img src="https://img.icons8.com/external-flaticons-flat-flat-icons/344/external-digital-new-media-flaticons-flat-flat-icons-2.png" alt=""> <span>Digital-nttf</span></a> </div>
                                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 "> <a href="https://www.nttftrg.com/about-us/our-centers" class="connection-item"><img src="https://img.icons8.com/fluency/344/binoculars.png" alt=""> <span>NTTF TRG</span></a> </div>
                            </div>
                            <div class="row">
                               <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 "> <a href="https://nocnindia.mykademy.com/" class="connection-item"><img src="https://d2xduyqs25ssfe.cloudfront.net/uploads/nocnindia.mykademy.com/items_org/logo/20110.webp?v=357?v=1.923production_v8" alt=""> <span>NOCN</span></a> </div>
                                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 "> <a href="https://www.facebook.com/NTTFTechnicalTraining" class="connection-item"><img src="https://img.icons8.com/fluency/344/facebook-new.png" alt="">Facebook</a> </div>
                                <!--<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 "> <a href="#" class="connection-item"><img src="https://img.icons8.com/wired/64/000000/slack.png" alt=""> <span>Slack</span></a> </div-->
                            </div>
                        </li>
                      <!--  <li>
                            <div class="conntection-footer"><a href="#">More</a></div>
                        </li>
                        -->
                    </ul>
                </li>
                <li class="nav-item dropdown nav-user"> <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="https://img.icons8.com/dusk/100/000000/user-female-circle.png" alt="" class="user-avatar-md rounded-circle"></a>
                    <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
                        <div class="nav-user-info">
                            <h5 class="mb-0 text-white nav-user-name">{{user.first_name}}</h5>  <span class="status"></span><span class="ml-2">Available</span>
                        </div> <a class="dropdown-item" href="/profile"><i class="fas fa-user mr-2"></i>Account</a>
                         <a class="dropdown-item" href="setting"><i class="fas fa-cog mr-2"></i>Setting</a>
                          <a style="cursor: pointer"  onclick="logoutfunction()"   class="dropdown-item logout-button" ><i class="fas fa-power-off mr-2"></i>Logout</a> 
                    </div>
                </li>
                </li>
            </ul>
        </div>
    </nav>
</div>

<form action="/logout"></form>

<script>
function refreshTime() {
  const timeDisplay = document.getElementById("time");
  const dateString = new Date();

  timeDisplay.textContent = dateString.getHours()+':'+dateString.getMinutes()+':'+dateString.getSeconds();
    console.log(dateString.getHours()+':'+dateString.getMinutes()+':'+dateString.getSeconds())
   
}setInterval(refreshTime, 1000);
 



function logoutfunction()
{
    Swal.fire({
  title: 'Are you sure?',
  text: "do you want to logout",
  icon: 'warning',
  confirmButtonColor: '#d33',
  cancelButtonColor: '#0e6918',
  
  showCancelButton: true,
  confirmButtonText: 'logout',
}).then((result) => {
  if (result.isConfirmed)  {
      window.location='/logout'
  }
})
}

</script>

