<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title> <link rel="stylesheet" href="view.css" type="text/css">
</head>
<body>
   <div class="main">
       <div class="header"><h1 class="heading">Profile</h1></div>
       <div class="left">
        <h2 class="heading">Student Details</h2>

        <table class="details">
            <tr>
                <td>Name &emsp;&emsp;&emsp;&emsp;</td>
                <td>Ramjith.M</td> 
            </tr>
        </table> 
        <div class="line"></div><br>

        <table class="details">
            <tr>
                <td>Email &emsp;&emsp;&emsp;&emsp;</td>
                <td>Ramjith@gmail.com</td>
            </tr>
        </table>
        <div class="line"></div> <br>

        <table class="details">
            <tr>
                <td>Token No&emsp;&nbsp;&nbsp;&emsp;</td>
                <td>TTC0819041</td>
            </tr>
        </table>
        <div class="line"></div> <br>

        <table class="details">
            <tr>
                <td>DOB &emsp;&emsp;&emsp;&emsp;</td>
                <td>28-03-2001</td>
            </tr>
        </table>
        <div class="line"></div><br>

        <table class="details">
            <tr>
                <td>Gender &emsp;&nbsp;&emsp;&emsp;</td>
                <td>Male</td>
            </tr>
        </table>
        <div class="line"></div><br>

        <table class="details">
            <tr>
                <td>Course &emsp;&nbsp;&emsp;&emsp;</td>
                <td>Computer Engineering & IT Infrastructure</td>
            </tr>
        </table>
        <div class="line"></div><br>

        <table class="details">
            <tr>
                <td> Catagory&nbsp;&nbsp;&emsp;&emsp;</td>
                <td>Merit</td>
            </tr>
        </table>
        <div class="line"></div><br>

        <table class="details">
            <tr>
                <td> Phone No&nbsp;&emsp;&emsp;</td>
                <td>999999999</td>
            </tr>
        </table>
        <div class="line"></div><br>

        <table class="details">
            <tr>
                <td> Phone No&nbsp;&emsp;&emsp;</td>
                <td>8888888</td>
            </tr>
        </table>
        <div class="line"></div>

         </div>





         <div class="right">
            <h2 class="heading">Parent Details</h2>

            <table class="details">
                <tr>
                    <td> Father's Name&emsp;&emsp;&emsp;</td>
                    <td>Rathnakaran E</td>
                </tr>
            </table><br>
            <div class="line1"></div> <br>

            <table class="details">
                <tr>
                    <td>Father's Phone&emsp;&emsp;&emsp;</td>
                    <td>8888888</td>
                </tr>
            </table>
            <div class="line1"></div><br>

            <table class="details">
                <tr>
                    <td>Mother's Name&ensp;&emsp;&emsp;</td>
                    <td>Thankamani M</td>
                </tr>
            </table>
            <div class="line1"></div><br>

            <table class="details">
                <tr>
                    <td>Mother's Phone&ensp;&emsp;&emsp;</td>
                    <td>8888888</td>
                </tr>
            </table>
            <div class="line1"></div><br>

            <table class="details">
                <tr>
                    <td>Address&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;</td>
                    <td>RamanniNilayam,Periya,Kasargod,Kerala <br></td>
                </tr>
            </table>
            <div class="line1"></div><br>

            <table class="details">
                <tr>
                    <td> City&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</td>
                    <td>Kasargod</td>
                </tr>
            </table>
            <div class="line1"></div><br>

            <table class="details">
                <tr>
                    <td> State&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&ensp;</td>
                    <td>Kerala  </td>
                </tr>
            </table>
            <div class="line1"></div><br>

            <table class="details">
                <tr>
                    <td> PIN&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</td>
                    <td>8888888</td>
                </tr>
            </table>
            <div class="line1"></div><br>
    
    
    
    
    
    
    
    
       
           
                


         
           <!---- <tr>
                <td class="data">Name&emsp;&emsp;&emsp;&emsp;&emsp;</td>
                <td>Ramjith</td>
            </tr> 
           
            <tr>
                <td class="data">Email</td>
                <td>Ramjith@gmail.com</td>
            </tr>
      
            <tr>
                <td class="data">Token No</td>
                <td>TTC0819041</td>
            </tr>
            <tr>
                <td class="data">DOB</td>
                <td>28-03-2001</td>
            </tr>
            <tr>
                <td class="data">gender</td>
                <td>Male</td>
  
            </tr>
            <tr>
                <td class="data">course</td>
                <td>Diploma in Computer Engineering & IT Infrastructure</td>
            </tr>
            <tr>
                <td class="data">catagory</td>
                <td>Hosteller</td>
  
            </tr>
            <tr>
                <td class="data">quota</td>
                <td>Merit</td>
            </tr>
            <tr>
                <td class="data">Aadhar No</td>
                <td>1111111111111</td>
  
            </tr>
            <tr>
                <td class="data">Phone No</td>
                <td>999999999</td>
            </tr>
            <tr>
                <td class="data">Alt number</td>
                <td>888888888</td>
            </tr>
          </table>
  
      </div>

       

       <div class="right">
        <h2 class="heading">Parent Details</h2>
        <table class="details">

          <tr>
              <td>&emsp;Father Name&emsp;&emsp;&emsp;&emsp;&emsp;</td>
              <td>aaaaaa</td>
              
          </tr>
          <tr>
              <td>&emsp;Father phone</td>
              <td>22222222</td>

          </tr>
          <tr>
              <td>&emsp;Mother Name</td>
              <td>eeeeeee</td>
          </tr>
          <tr>
              <td>&emsp;Mother phone</td>
              <td>Mother </td>
          </tr>
          <tr>
              <td>&emsp;Address</td>
              <td>weodjweijfikj</td>

          </tr>
          <tr>
              <td>&emsp;City</td>
              <td>kasargod</td>

          </tr>
          <tr>
              <td>&emsp;State</td>
              <td>Kerala</td>

          </tr>
          <tr>
              <td>&emsp;PIN Code</td>
              <td>671316</td>
          </tr>
        </table>-->
       
       
   </div> 
    
</body>
</html>